.myStyle
{

    background-color : #E5CCFF;
    margin-top: 30vh;
    height : 30vh;
    width : 100vw;
    color : black;
    font-weight : bold;
    font-size : 30px;
    text-align : center;
    padding-top : 10vh
}

