.App {
  text-align: center;
}


.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}



