
body{

    background-color: rgb(255, 255, 255);


}


.ques-container
{

    width : 80vw;
    padding: 1rem 2rem;
    border: 2px solid rgb(168, 161, 161);
    margin : 2rem 0;
    margin-left: 10vw;
    border-radius: 10px;
}

.question
{
    font-size: 1.3rem;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.option-container
{
    margin-bottom: 0.8rem;
}


.opt-button:hover
{
    background-color: rgb(240, 58, 143) ;
}

.opt-button {
    color: #fff;
    background-color: rgb(245, 137, 187) ;
    border-style: none;
    font-size: 1rem;
    border-radius: 3px;
    padding: 0.2rem 0.4rem;
}

.active{

    background-color: rgb(240, 58, 143);
    border: 3px solid rgb(189, 120, 120);

}