* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab";
  background-size: cover;
  font-style: normal;
  height:100%;
}

#title {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 6%;
  color: white;
  background-color: rgb(135, 138, 138);
}

.person-name {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  /* font-family: "Courier New, monospace"; */
  font-weight: 300;
  font-size: 40px;
}

#sidebar {
  position: absolute;
  top: 20px;
  left: 2%;
  /* bottom: 0; */
  padding-bottom: 4rem;
  width: 380px;
  background-color: #f7e0c1;
}

.logo {
  position: absolute;
  top: 30px;
  left: 60px;
}

.rect-logo {
  fill: none;
  stroke: black;
  stroke-width: 5;
  opacity: 0.5;
}

.logo-text {
  position: absolute;
  font-size: 3rem;
  top: 90px;
  left: 110px;
  font-style: italic;
}

#main-container {
  width: calc(95% - 380px);
  margin-left: 400px;
  padding: 2px 40px 50px;
}

.separator {
  width: 50%;
  padding: 5px 0;
  text-align: center;
  color: black;
  background-color: rgb(202, 207, 207);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.social-links {
  padding-left: 0.8rem;
  margin-bottom: 5px;
  
}

.social-links i {
  margin-right: 10px;
  font-style: italic;
}

.social-links a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-style: italic;
  
}

.edu-details,.exp-details,.pro-details{
    padding-left: 0.8rem;
    font-style: italic;
    margin-top: 10px;
}

.edu-details p,.exp-details p, .pro-details p{
    font-weight:900;
    font-size: 1.5rem;
}

.edu-details h5{
    color: rgb(166, 168, 168);
    margin-bottom: 10px;
}

.edu-details h4{
    margin-bottom: 10px;
    font-weight: 600;
}




.job-detail{
    color: rgb(166, 168, 168);
    margin-bottom: 10px;
}

.pro-link{
    margin-top: 7px;
    margin-bottom: 7px;
}
.pro-link i{

    color: rgb(128, 131, 131);
}

.pro-link a{
    text-decoration: none;
    color: rgb(160, 161, 161);
}

.contact-container{
  /* position: relative; */
  margin-top: 70%;
  margin-left: 15%;
  font-style: italic;
}

.c-info{
  margin-bottom: 0.1rem;
  margin-top: 0px;
}

.c-info h4 span{
  font-weight: 600;
  margin-left: 5px;
}

.extras-container{
  margin-top: 3rem;
  margin-left: 15%;
  font-style: italic;
}

.extras-separator{
  margin: 10px auto 10px 0;
  width:90%;
  height:0.1rem;
  background-color: rgb(202, 202, 202);
}

.extras-info{
  margin-left: 5%;
  font-weight: 500;
}
